@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-purple: #571BFB;
  --secondary-purple: #ECEBFF;
  --tertiary-purple: #B198FF;

  --primary-blue: #01A2EA;
  --secondary-blue: #F1FAFD;
  --tertiary-blue: #DAF5FC;

  --primary-pink: #FE3CBB;
  --secondary-pink: #FDECF9;
  --tertiary-pink: #FCD8EF;

  --primary-orange: #FF7E00;
  --secondary-orange: #FEF3F0;
  --tertiary-orange: #FFE9DC;
}

@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/Mona-Sans.ttf');
  font-weight: 600;
  font-style: bold;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F3E9E9;
}


