@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/Mona-Sans.ttf');
  font-weight: 600;
  font-style: bold;
}

:root {}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F3E9E9;
}